<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jungsuk_2_1.postory.dao.ChannelDao">

    <sql id="statusCondition">
        CHNL_STUS_CD = 'ST00210'
    </sql>

    <insert id="save" parameterType="ChannelDto">
        insert into
            channel
        (CHNL_ID, CHNL_TTL, CHNL_INTRO, CHNL_URI, CHNL_SB_TTL, CHNL_IMG_PATH, SUBER_CNT, CHNL_POST_CNT, CHNL_LIK_CNT, CHNL_OPEN_DTM, CRT_ID, HMPG_URL, INSTA_URL, GITH_URL, YTB_URL, TWCH_URL, CHNL_STUS_CD, CHNL_STUS_CHGR_ID, CHNL_STUS_CHG_DTM)
        VALUES
            (#{chnlId}, #{chnlTtl}, #{chnlIntro}, #{chnlUri}, #{chnlSbTtl}, #{chnlImgPath}, #{suberCnt}, #{chnlPostCnt}, #{chnlLikCnt}, NOW(), #{crtId}, #{hmpgUrl}, #{instaUrl}, #{githUrl}, #{ytbUrl}, #{twchUrl}, #{chnlStusCd}, #{chnlStusChgrId}, NOW());
    </insert>

    <update id="update" parameterType="ChannelDto">
        UPDATE channel
        SET
            CHNL_URI = #{chnlUri},
            CHNL_TTL = #{chnlTtl},
            CHNL_IMG_PATH = #{chnlImgPath},
            CHNL_INTRO = #{chnlIntro},
            CHNL_SB_TTL = #{chnlSbTtl}
        WHERE CHNL_ID = #{chnlId};
    </update>

    <select id="doesUriExist" resultType="boolean" parameterType="String">
        select exists(select  1 from channel where chnl_uri = #{chnlUri})
        AND
        <include refid="statusCondition"/>
    </select>

    <update id="delete" parameterType="ChannelDto">
        update channel
        set  CHNL_STUS_CD = "ST00220"
        where CHNL_ID = #{chnlId}
        AND
        <include refid="statusCondition"/>
    </update>

    <delete id="deleteChannel" parameterType="String">
        delete from channel where CHNL_URI = #{chnlUri}
    </delete>

    <select id="findByUserNic" parameterType="String" resultType="ChannelDto">

    </select>

    <select id="findLastId" resultType="int">
        SELECT MAX(CHNL_ID) FROM channel
    </select>

    <select id="findByUserId" parameterType="String" resultType="ChannelDto">
        SELECT
        channel.CHNL_ID,
        channel.CHNL_TTL,
        channel.CHNL_INTRO,
        channel.CHNL_URI,
        channel.CHNL_SB_TTL,
        channel.CHNL_IMG_PATH,
        channel.SUBER_CNT,
        channel.CHNL_POST_CNT,
        channel.CHNL_LIK_CNT,
        channel.CHNL_OPEN_DTM,
        user1.NIC as crtNic,
        channel.HMPG_URL,
        channel.INSTA_URL,
        channel.GITH_URL,
        channel.YTB_URL,
        channel.TWCH_URL,
        channel.CHNL_STUS_CHG_DTM
        FROM
        channel
        INNER JOIN
        user AS user1 ON channel.CRT_ID = user1.USER_ID
        INNER JOIN
        common_code ON channel.CHNL_STUS_CD = common_code.CD
        INNER JOIN
        user AS user2 ON channel.CHNL_STUS_CHGR_ID = user2.USER_ID
        WHERE
            CRT_ID = #{userId}
        AND
        <include refid="statusCondition"/>
    </select>

    <select id="findById" parameterType="int" resultType="ChannelDto">
        SELECT
        channel.CHNL_ID,
        channel.CHNL_TTL,
        channel.CHNL_INTRO,
        channel.CHNL_URI,
        channel.CHNL_SB_TTL,
        channel.CHNL_IMG_PATH,
        channel.SUBER_CNT,
        channel.CHNL_POST_CNT,
        channel.CHNL_LIK_CNT,
        channel.CHNL_OPEN_DTM,
        user1.NIC as crtNic,
        channel.HMPG_URL,
        channel.INSTA_URL,
        channel.GITH_URL,
        channel.YTB_URL,
        channel.TWCH_URL,
        channel.CHNL_STUS_CHG_DTM
        FROM
        channel
        INNER JOIN
        user AS user1 ON channel.CRT_ID = user1.USER_ID
        INNER JOIN
        common_code ON channel.CHNL_STUS_CD = common_code.CD
        INNER JOIN
        user AS user2 ON channel.CHNL_STUS_CHGR_ID = user2.USER_ID
        WHERE
            CHNL_ID = #{chnlId}
        AND
        <include refid="statusCondition"/>
    </select>

    <select id="countUserChannels" parameterType="String" resultType="int">
        SELECT count(*) from channel where CRT_ID = #{crtId}
        AND
        <include refid="statusCondition"/>
    </select>

    <select id="findByChnlUri" parameterType="String" resultType="ChannelDto">
        SELECT
            c.CHNL_ID,
            c.CHNL_TTL,
            c.CHNL_INTRO,
            c.CHNL_URI,
            c.CHNL_SB_TTL,
            c.CHNL_IMG_PATH,
            c.SUBER_CNT,
            c.CHNL_POST_CNT,
            c.CHNL_LIK_CNT,
            c.CHNL_OPEN_DTM,
            user1.NIC as crtNic,
            c.HMPG_URL,
            c.INSTA_URL,
            c.GITH_URL,
            c.YTB_URL,
            c.TWCH_URL,
            c.CHNL_STUS_CHG_DTM,
            c.CHNL_SB_TTL,
            c.CHNL_INTRO,
            (SELECT COUNT(*) FROM post as p INNER JOIN post_tag as pt on p.post_id = pt.post_id WHERE p.CHNL_ID = c.CHNL_ID AND (now_post_stus_cd ='ST00420' OR now_post_stus_cd = 'ST00430') AND pt.tag_id = 1) as chnlWebnovelCnt,
            (SELECT COUNT(*) FROM post as p INNER JOIN post_tag as pt on p.post_id = pt.post_id WHERE p.CHNL_ID = c.CHNL_ID AND (now_post_stus_cd ='ST00420' OR now_post_stus_cd = 'ST00430') AND pt.tag_id = 2) as chnlWebtoonCnt
        FROM
            channel as c
                INNER JOIN user AS user1 ON c.CRT_ID = user1.USER_ID
                INNER JOIN common_code ON c.CHNL_STUS_CD = common_code.CD
                INNER JOIN user AS user2 ON c.CHNL_STUS_CHGR_ID = user2.USER_ID
        WHERE
            c.CHNL_URI = #{chnlUri}
          AND c.CHNL_STUS_CD = 'ST00210'

    </select>

    <select id="findIdByChnlUri" parameterType="String" resultType="ChannelSimpleDto">
        select c.CHNL_ID, c.CHNL_TTL, c.CHNL_URI, c.CHNL_SB_TTL, c.CHNL_INTRO, c.CHNL_IMG_PATH
        FROM channel as c
        where c.CHNL_URI = #{chnlUri}
    </select>

    <select id="findChannel" parameterType="map" resultType="SearchChannelDto">
        SELECT c.chnl_img_path, c.chnl_ttl, c.suber_cnt, c.chnl_intro, c.chnl_uri, c.CHNL_ID,
               CASE WHEN s.user_id IS NOT NULL THEN 1 ELSE 0 END AS isSubsed, c.SUBER_CNT
        FROM channel c
                 INNER JOIN user u ON u.user_id = c.crt_id
                 LEFT JOIN subscription s ON #{userId} = s.user_id AND c.CHNL_ID = s.CHNL_ID
        WHERE
        <choose>
            <when test="option == 'title'">
                c.CHNL_TTL LIKE CONCAT('%', #{keyword}, '%')
            </when>
            <when test="option == 'nic'">
                u.nic LIKE CONCAT('%', #{keyword}, '%')
            </when>
            <when test="option == 'all'">
                (c.CHNL_TTL LIKE CONCAT('%', #{keyword}, '%') OR c.CHNL_URI LIKE CONCAT('%', #{keyword},'%') OR u.nic LIKE CONCAT('%', #{keyword}, '%'))
            </when>
        </choose>
        <choose>
            <when test="orderMethod == 'latest'">
                ORDER BY
                c.CHNL_OPEN_DTM DESC
            </when>
            <when test="orderMethod == 'popularity'">
                ORDER BY p.CHNL_LIK_CNT DESC
            </when>
        </choose>
        LIMIT #{pageSize} OFFSET #{offset}
</select>
</mapper>