<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jungsuk_2_1.postory.dao.SeriesDao">

    <update id="updateSeries" parameterType="map">
        UPDATE series
        SET SER_THUMN_PATH = #{serThumnPath},
            SER_TTL = #{serTtl},
            SER_DESC = #{serDesc},
            CHNL_DSGNT_SER_ODR = #{chnlDsgntSerOdr},
            SER_STUS_CHGR_ID= #{serStusChgrId},
            SER_STUS_CD = (SELECT CD FROM common_code WHERE CD_NM = #{serStusCdNm})
        WHERE SER_ID = #{serId};
    </update>

    <select id="findByChnlUri" parameterType="map" resultType="ChannelSeriesDto">
        SELECT
        s.SER_ID,
        s.SER_THUMN_PATH,
        s.SER_TTL,
        s.SER_DESC,
        s.SER_OPEN_DTM,
        s.SER_INQR_CNT,
        s.SER_LIK_CNT,
        s.SER_REP_CNT,
        s.SER_POST_CNT,
        s.CHNL_DSGNT_SER_ODR,
        s.SER_STUS_CHG_DTM,
        cd.CD_NM as serStusCdNm,
        u.NIC as userNic
        FROM series AS s
        INNER JOIN channel AS c ON s.CHNL_ID = c.CHNL_ID
        INNER JOIN user as u ON c.CRT_ID = u.USER_ID
        INNER JOIN common_code as cd ON s.SER_STUS_CD = cd.CD
        WHERE c.CHNL_URI = #{chnlUri}
        <choose>
            <when test="orderMethod == 'default'">
                ORDER BY s.CHNL_DSGNT_SER_ODR DESC
            </when>
            <when test="orderMethod == 'latest'">
                ORDER BY s.SER_OPEN_DTM DESC
            </when>
            <when test="orderMethod == 'popularity'">
                ORDER BY s.SER_LIK_CNT DESC
            </when>
        </choose>
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <insert id="createSeries" parameterType="map">
        INSERT INTO series (SER_ID, SER_THUMN_PATH, SER_TTL, SER_DESC, SER_OPEN_DTM, SER_INQR_CNT, SER_LIK_CNT, SER_REP_CNT, SER_POST_CNT,
                            CHNL_DSGNT_SER_ODR, RECEN_PBLC_POST_ID, CHNL_ID, SER_STUS_CD, SER_STUS_CHGR_ID, SER_STUS_CHG_DTM)
        VALUES (#{serId}, #{serThumnPath}, #{serTtl}, #{serDesc}, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT,
                #{chnlDsgntSerOdr}, #{recenPblcPostId}, #{chnlId}, (SELECT CD FROM common_code WHERE CD_NM = #{serStusCdNm}),
                #{serStusChgrId}, DEFAULT)
    </insert>


    <select id="findLastId" resultType="Integer">
        SELECT MAX(SER_ID) FROM series
    </select>

    <select id="findInStudioByChnlUri" parameterType="string" resultType="StudioSeriesDto">
        select s.SER_ID as serId,
               s.SER_THUMN_PATH as serThumnPath,
               s.SER_TTL as serTtl,
               s.SER_OPEN_DTM as serOpenDtm,
               s.SER_POST_CNT as serPostCnt,
               s.CHNL_DSGNT_SER_ODR as chnlDsgntSerOdr,
               cc.CD_NM as serStusCdNm,
               s.SER_STUS_CHG_DTM as serStusChgDtm
        from series as s
                 inner join channel c on s.CHNL_ID = c.CHNL_ID
                 inner join common_code cc on s.SER_STUS_CD = cc.CD
        where c.CHNL_URI = #{chnlUri}
    </select>

    <select id="findById" resultType="StudioSeriesDto">
        select s.SER_ID as serId,
               s.SER_THUMN_PATH as serThumnPath,
               s.SER_TTL as serTtl,
               s.SER_OPEN_DTM as serOpenDtm,
               s.SER_POST_CNT as serPostCnt,
               s.CHNL_DSGNT_SER_ODR as chnlDsgntSerOdr,
               cc.CD_NM as serStusCdNm,
               s.SER_STUS_CHG_DTM as serStusChgDtm
        from series as s
                 inner join channel c on s.CHNL_ID = c.CHNL_ID
                 inner join common_code cc on s.SER_STUS_CD = cc.CD
        where s.SER_ID = #{serId}
    </select>
</mapper>
