<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jungsuk_2_1.postory.dao.UserDao">
    <select id="existsByUserEmail" parameterType="String" resultType="boolean">
        SELECT EXISTS(SELECT 1 FROM user WHERE eid = #{eid}) AS user_exists;
    </select>

    <select id="findByUserEmail" parameterType="String" resultType="UserDto">
        SELECT * FROM user WHERE eid = #{eid};
    </select>

    <insert id="save" parameterType="UserDto">
        insert into user (USER_ID, EID, PWD, NIC, USER_INTRO, USER_IMG_PATH, SIGNUP_DTM, HOLD_PNT, MSG_ALOW_YN)
        values (#{userId}, #{eid}, #{pwd}, #{nic}, #{userIntro}, #{userImgPath}, now(), #{holdPnt}, true);
    </insert>

    <insert id="statusSave" parameterType="UserDto">
        insert into user_status (SNO,USER_ID, COMT, USER_STUS_CD, USER_STUS_UPD_DTM, USER_STUS_UPDR_ID)
        values (1,#{userId},default,'ST00110',now(),'5dfad5bd23a94bb49099ee3cc9117a63')
    </insert>

    <select id="findStatusByUserId" parameterType="String" resultType="String">
        select user_stus_cd from user_status where user_id = #{userId}
    </select>

    <select id="findByUserId" parameterType="String" resultType="UserDto">
        select user_id,eid from user where user_id = #{userId}
    </select>

    <select id="findByChnlUri" resultType="ChannelUserDto">
        SELECT
            u.EID as eid,
            u.NIC as nic,
            u.USER_INTRO as userIntro,
            u.USER_IMG_PATH as userImgPath,
            u.MSG_ALOW_YN as msgAlowYn
        FROM
            user u
                INNER JOIN
            channel c ON u.USER_ID = c.CRT_ID
        WHERE
            c.CHNL_URI = #{chnlUri}
    </select>
</mapper>