<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jungsuk_2_1.postory.dao.UserDao">
    <select id="existsByUserEmail" parameterType="String" resultType="boolean">
        SELECT EXISTS(SELECT 1 FROM user WHERE eid = #{eid}) AS user_exists;
    </select>

    <select id="findByUserEmail" parameterType="String" resultType="UserDto">
        SELECT *
        FROM user
        WHERE eid = #{eid};
    </select>

    <insert id="save" parameterType="UserDto">
        insert into user (USER_ID, EID, PWD, NIC, USER_INTRO, USER_IMG_PATH, SIGNUP_DTM, HOLD_PNT, MSG_ALOW_YN)
        values (#{userId}, #{eid}, #{pwd}, #{nic}, #{userIntro}, #{userImgPath}, now(), #{holdPnt}, true);
    </insert>

    <insert id="statusSave" parameterType="UserDto">
        insert into user_status (SNO, USER_ID, COMT, USER_STUS_CD, USER_STUS_UPD_DTM, USER_STUS_UPDR_ID)
        values (1, #{userId}, default, 'ST00110', now(), #{userId})
    </insert>

    <select id="findStatusByUserId" parameterType="String" resultType="String">
        select user_stus_cd
        from user_status
        where user_id = #{userId}
        order by USER_STUS_UPD_DTM DESC LIMIT 1
    </select>

    <select id="findByUserId" parameterType="String" resultType="UserDto">
        select user_id, eid
        from user
        where user_id = #{userId}
    </select>

    <select id="findByChnlUri" resultType="ChannelUserDto">
        SELECT u.EID           as eid,
               u.NIC           as nic,
               u.USER_INTRO    as userIntro,
               u.USER_IMG_PATH as userImgPath,
               u.MSG_ALOW_YN   as msgAlowYn
        FROM user u
                 INNER JOIN
             channel c ON u.USER_ID = c.CRT_ID
        WHERE c.CHNL_URI = #{chnlUri}
    </select>

    <select id="existsByUserNic" parameterType="String" resultType="boolean">
        SELECT EXISTS(SELECT 1 FROM user WHERE nic = #{nic}) AS user_exists;
    </select>

    <select id="findHeaderInfoByUserId" parameterType="String" resultType="HeaderChannelDto">
        select c.chnl_id, c.chnl_ttl, c.chnl_uri
        from user u inner join channel c on u.user_id = c.crt_id
        where u.user_id = #{userId}
    </select>

    <select id="findHeaderUserInfoByUserId" parameterType="String" resultType="HeaderUserDto">
        select u.user_img_path, u.nic, s.user_stus_cd
        from user u inner join user_status s on u.user_id = s.user_id
        where u.user_id = #{userId}
        order by s.USER_STUS_UPD_DTM DESC LIMIT 1
    </select>

    <insert id="emailAuthSave" parameterType="UserDto">
        INSERT INTO email (USER_ID, EXPI_DTM, EMAIL, CERTINO)
        VALUES (#{userId},now(),#{eid},'')
    </insert>
</mapper>